.my-nav-style  {
    list-style: none;
    margin: 0 auto;
}
.my-nav-style ul {
	background: white;
}

.logo  {
    font-size: 20px;
	
}
.changesize {
  max-height: 50px;
  border: 1px solid transparent;
}
.changecolor {
  background-color: #ffffff;
  border-bottom: 2px solid #00bbff;
}
.changecolor1 > li:hover{
  background-color: #00ccff;
}
.changecolor .navbar-collapse .navbar-nav > .active > a {
  background-color: #00bbff;
}
.my-top {
  top:52px;
}
.col-lg-4 {
	flex: 0 0 33.33333%; max-width: 33.33333%; 
}
.col-md-6 {
	flex: 0 0 50%; max-width: 50%; 
}
.sb-preview {
	margin-bottom: 30px; 
}
.text-center { 
  text-align: center !important; 
}
.h-100 {
	height: 100% !important;
}
.sb-preview { 
margin-bottom: 30px; 
}
.sb-preview .card {
	background: whitesmoke; border: 1px solid #ededed; border-bottom: 3px solid #ededed; 
	}
.sb-preview .card .sb-preview-img { 
transition: all 0.2s ease-in-out;
 }
.sb-preview .card .sb-preview-img:hover { 
opacity: 0.7; 
}
.sb-preview .card .card-block { 
padding: 1.5rem 1.5rem 0; 
}
.sb-preview .card .card-footer { 
padding: 0.75rem 1.5rem 1.5rem; background: transparent; border: 0;
}
.sb-preview .card .card-footer .btn { 
font-size: 11px; 
}
.img-fluid {
	max-width: 100%; height: auto; 
}
.card-img-top { border-top-right-radius: calc(0.25rem - 1px); border-top-left-radius: calc(0.25rem - 1px); }
.card-text{ color: #fff; }
.card-text:last-child { margin-bottom: 0; }
.row { 
display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; 
}




section#contact {
    background-color: #222222;
    background-image: url('image/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
/*section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}*/
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}









/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

/*.form-group{
  margin-top: 10px;
}*/
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}




section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
/*section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}*/
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
	horizontal-align:center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}




#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
/*#login-dp .form-group {
    margin-bottom: 10px;
}*/
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.filtr-item {
    padding: 1em;
}
.agileits_portfolio_grid{
	position:relative;
	overflow: hidden;
}
.agileits_portfolio_grid .w3_textbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.53);
	padding: 0 2em;
}
.agileits_portfolio_grid:hover .w3_textbox{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.w3_textbox {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align:center;
}
.w3_textbox h4 {
    font-size: 1.5em;
    color:#00ba66;
    margin: 3em 0 .5em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.w3_textbox p{
	color: #fff;
    line-height: 1.8em;
}
@media (max-width: 480px){
	.filtr-item {
		padding: 0.5em 1em;
	}
	.w3_textbox h4 {
		margin: 4.5em 0 .5em;
	}
	.filtr-item {
		padding: 0.5em 1em;
	}
}
@media (max-width: 991px){
	.agileits_portfolio_grid .w3_textbox {
		padding: 0 1em;
	}
	.w3_textbox h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
}
@media (max-width: 640px){
	.agileits_portfolio_grid .w3_textbox {
		padding: 0 2em;
	}
	.w3_textbox h4 {
		font-size: 1.3em;
		letter-spacing: 5px;
		margin: 7em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 35% !important;
	}
}
@media (max-width: 384px){
	.agileits_portfolio_grid .w3_textbox {
		padding: 0 1em;
	}
	.w3_textbox h4 {
		margin: 2.6em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 52% !important;
	}
}
@media (max-width: 320px){
	.w3_textbox h4 {
		margin: 1.6em 0 .5em;
		font-size: 1.2em;
		letter-spacing: 3px;
	}
}
@media (max-width: 1080px){
	.w3_textbox h4 {
		font-size: 1.5em;
		margin: 1.5em 0 .5em;
	}
}






<!-- morestyle for slides -->
.w3-btn,.w3-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
	}
.w3-black,.w3-hover-black:hover{
	color:#fff!important;
	background-color:#000!important;
	}
.w3-display-left{
	position:absolute;
	top:50%;left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
	}
	
.w3-content{
	max-width:200px;
	margin:auto}
.w3-rest{
	overflow:hidden
	}
.w3-display-container:hover .w3-display-hover{
	display:block
	}
.w3-display-container:hover span.w3-display-hover{
	display:inline-block
	}
.w3-display-hover{
	display:none
	}
.w3-tooltip,.w3-display-container{
	position:relative
	}
.w3-tooltip .w3-text{
	display:none
	}
.w3-tooltip:hover .w3-text{
	display:inline-block
	}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
..w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}



