.my-nav-style  {
    list-style: none;
    margin: 0 auto;
}
.my-nav-style ul {
	background: white;
}

.logo  {
    font-size: 20px;
	
}
.changesize {
  max-height: 50px;
  border: 1px solid transparent;
}
.changecolor {
  background-color: #fff;
  border-color: #080808;
}