.my-nav-style  {
    list-style: none;
    margin: 0 auto;
}
.my-nav-style ul {
	background: white;
}

.logo  {
    font-size: 20px;
	
}
.changesize {
  max-height: 50px;
  
  border: 1px solid transparent;
}
.changecolor {
  background-color: #ffffff;
  border-bottom: 2px solid #00bbff;
}
.changecolor > div ul li:hover{
  background-color: #00ccff;
}
.changecolor .navbar-collapse .navbar-nav > .active > a {
  background-color: #00bbff;
}
.my-top {
  top:52px;
}
